.stars {
  position: relative;
  left: 50%;
  transform: translateX(-43%);
  min-width: 200px;
  display: inline-flex;
}

@media screen and (min-width: 900px) {
  .stars {
    left: 0%;
    transform: translateX(0%);
  }
}

.stars .star {
  position: absolute;
  display: inline-flex;
  -webkit-mask: url('/images/icons/star.svg') no-repeat center left;
  mask: url('/images/icons/star.svg') no-repeat center left;
}

.stars .star:not(.placeholder) {
  z-index: 2;
  background-color: #ffcc47;
}

.stars .star.placeholder {
  z-index: 1;
  background-color: #ddd;
}
