.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.stepper li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  color: #fff;
}

.stepper li::after {
  position: absolute;
  content: '';
  z-index: 2;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-image: url('data:image/svg+xml;utf8,<svg width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.62961 7.52668L7.82252 16.2306C8.46805 17.3126 9.94113 17.5354 10.8778 16.6927L27.1842 2.02177" stroke="white" stroke-width="4" stroke-linecap="round"/></svg>');
  background-color: var(--clr-green);
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1);
  transition: 350ms transform ease-in-out;
}

.stepper li:not(:last-child) {
  margin-right: 60px;
}

.stepper li:not(:last-child)::before {
  content: '';
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 100%;
  width: calc(var(--size) + 10px);
  height: 1px;
  background-color: var(--clr-stepper);
}

.stepper li.active {
  background-color: var(--clr-stepper);
  color: var(--clr-stepper-text);
}

.stepper li.active::after {
  content: '';
  z-index: -1;
  background: #fff;
  border: 1px solid var(--clr-stepper);
  transform: scale(1.2);
}

.stepper li.active ~ li {
  color: var(--clr-stepper-text);
  background: var(--clr-stepper);
}

.stepper li.active ~ li::after {
  content: none;
}
